# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @timothyhinrichs @anderseknert @ashutosh-narkar @charlieegan3 @maxsmythe @nilekhc @ritazh @sozercan @JaydipGabani @srenatus @tsandall 
